.Form {
    width: 95%;
    border: 1px solidrgb(61, 41, 159);
    padding: 32px;
    border-radius: 5px;
    margin: 17% auto;
    margin-bottom: 10%;
}
.Welcome {
    color: rgb(61, 41, 159)me;
    margin: 47px 29px;
    font-family: Helvetica, Georgia, Arial, sans-serif;
}
.Welcome h2 {
    color: white;
    text-align: center;
}
.Welcome ul {
    margin: 0;
    position: relative;
    top: 20px;
}
.Welcome li {
    margin-bottom: 26px;
}
.Signin {
    display: flex;
    justify-content: space-around;
    width: 71%;
    position: relative;
    top: 20px;
    margin: 0 auto;
    color: white;
}
.Signin a {
    color: rgb(61, 41, 159)e;
    font-weight: bold;
    font-size: 17px;
}
.SpreadButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
}
@media (min-width: 445px) {
    .Welcome ul {
        left: 10%;
        width: 73%;
    }
}
@media (min-width: 550px) {
    .Form {
        width: 70%;
        margin: 150px auto;
    }
}
@media (min-width: 650px) {
    .Welcome {
        width: 50%;
        margin: 0 auto;
    }
    .Welcome ul {
        margin: 0 auto;
        width: 100%;
    }
    .Signin {
        width: 61%;
    }
    .Form {
        margin: 65px auto;
    }
}
@media (min-width: 760px) {
    .Form {
        width: 60%;
    }
}
@media (min-width: 950px) {
    .Welcome li {
        font-size: 22px;
    }
    .Signin {
        width: 45%;
        top: 29px;
    }
}